.nav__left {
  min-width: 26rem;
  max-width: 28rem;
  padding: 1.5rem;
  background-color: #fafafa;

  &--item {
    margin-bottom: 2px;
    height: 3.5rem;
    border-radius: 5px;
    display: flex;
    padding: 0.5rem 1rem;
    padding-left: 0;
    &:hover,
    &:active {
      background-color: #aeaeae;
      cursor: default;
    }
  }

  .list {
    &--icon {
      margin-right: 1.5rem;
      color: rgb(190, 85, 85);
    }
  }
}
