.to-do {
  width: 80rem;
  margin: 0 auto;
  padding: 3.5rem 5rem;

  &__heading {
    .heading-logos {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .heading-title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.5rem;
    }

    #tooltip {
      /* ... */
      display: none;
    }

    #tooltip[data-show] {
      display: block;
      border: 1px solid black;
      border-radius: 3px;
      background-color: #ffffff;
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__main {
    padding: 2rem 0;
  }

  &__inputs {
    padding: 1rem 0 0 0;
    border-radius: 1rem;
    border: 1px solid #c4c7c8;

    .input {
      padding-bottom: 0.5rem;
    }

    &:focus-within {
      border: 1px solid rgb(0, 0, 0);
    }
  }

  &__btn {
    height: 5rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    .btn {
      height: 3rem;
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      font-family: inherit;
      font-weight: 700;
      font-size: 1.3rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: var(--shadow-dark);

      &-cencel {
        background-color: var(--color-grey-light-1);
        &:hover {
          background-color: var(--color-grey-light-2);
        }
      }
      &-submit {
        background-color: var(--color-primary);
        color: #fff;
        &:hover {
          background-color: var(--color-primary-dark);
        }
      }
    }
  }
}

.input {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(182 182 184);
  &__task {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    padding: 0.5rem 1rem;

    &:focus {
      outline: none;
    }
  }
}

.btn-hollow {
  border: none;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
}
.hide {
  opacity: 0;
}
